@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <!-- Assignment title -->
    <h1 class="display-4">The Joel Hilton Film Collection</h1>

    <!-- Joel image -->
    <img src="~/img/joel.jpg"
         alt="Joel Hilton"
         class="img-fluid rounded shadow mt-4"
         style="max-width: 520px;" />
</div>